<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЕЕЕЕЕЕЕЕЕЕЕ</title>
    <style> .р2
     {color: red } </style>
</head>
<body>
<h1 style="color: red;">Список крутых людей</h1>
<ul>
  <li style="font-weight: bold;">Я</li>
  <li style="font-weight: bold;">Саша</li>
</ul>
 <div class="container">
  <h2>Заголовок блока</h2>
  <p>Текст внутри блока</p>
</div>
<h1 class="р2">Главный заголовок</h1>
<h2>Заголовок второго уровня</h2>
<a href="https://example.com">Перейти на сайт</a>
<img src="image.jpg" alt="Описание изображения">
<ul>
  <li>Пункт 1</li>
  <li>Пункт 2</li>
</ul>
<ol>
  <li>Первый пункт</li>
  <li>Второй пункт</li>
</ol>
<form action="/submit" method="POST">
  <input type="text" name="username">
  <button type="submit">Отправить</button>
    <input type="text" placeholder="Введите ваше имя">
    <button type="submit">Отправить</button>
</form>
<table>
  <tr>
    <td>Ячейка 1</td>
    <td>Ячейка 2</td>
  </tr>
</table>
<span style="color: red;">Красный текст</span>
<a href="https://www.example.com">Перейти на сайт</a>
</body>
</html>